*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}
#abc{
    width: 100%;
    height: 50px;
    background-color: #281c0d;
    background-size: cover;
    position: fixed;
}

nav{
    width: 100%;
    height: 50px;
    background-color: #0005;
    line-height: 50px;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li:hover{
    background-color: #088;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
#home{
    width: 100%;
    height: 600px;
    background-color: #5b2112;
    color: wheat;
    background-size: cover;
    padding-top: 50px;
}
#about{
    width: 100%;
    height: 600px;
    background-color: #852916;
    color: whitesmoke;
    background-size: cover;
    padding-top: 50px;
}
#project{
    width: 100%;
    height: 600px;
    background-color: #933217;
    color: white;
    padding-top: 50px;
}
#education{
    width: 100%;
    height: auto;
    background-color: #5b2112;
    color: wheat;
    background-size: cover;
    padding-top: 50px;
}
#education #tablo #cont{
    float: left;
    margin: 25px;
    padding: 60px;
    width: 60px;
    height: 4px;
    background-color: #8d2b13;
    border-radius: 50px;
    border-color: red;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}
#education #tablo{
    background-color: #5b2112;
}
#contact{
    width: 100%;
    height: 300px;
    background-color: #5b2112;
    display: flex;
    justify-content: space-between;
}
#contact img{
    width: 300px;
    display: flex;
    justify-content: center;
}
#contact #map{
    width: 300px;
    padding: 20px;
    display:block;
    justify-content: center;
}
#contact #comm{
    width: 300px;
    padding: 20px;
    display: block;
    justify-content: center;
}
#contact #map ol li a{
    text-decoration: none;
    color: #000000;
}
#contact #map ol li{
    list-style-type: none;
}
#contact #map ol{
    padding: 20px;
}
#contact #comm ul li a{
    text-decoration: none;
    color: black;
}
#contact #comm ul li{
    list-style-type: none;
}
#contact p{
    float: right;
    margin-right: 200px;
}
#created{
    background-color: #5b2112;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
    text-align: right;
}